<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blue.xiangzishen" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".com.blue.xiangzishen.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".com.blue.xiangzishen.activity.GuideActivity">

        </activity>
        <activity android:name=".com.blue.xiangzishen.activity.LoginActivity" />
        <activity android:name=".com.blue.xiangzishen.activity.SignUpActivity" />
        <activity android:name=".com.blue.xiangzishen.activity.CheckSMSActivity" />
        <activity android:name=".com.blue.xiangzishen.activity.ForgetActivity" />
        <activity android:name=".com.blue.xiangzishen.activity.ResetPwdActivity" />
        <activity android:name=".com.blue.xiangzishen.activity.NewEditorActivity" />
    </application>

</manifest>
